#define ZMK_POINTING_DEFAULT_MOVE_VAL 1000 // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 12   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <0>;      // 0
    time-to-max-speed-ms = <300>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

&soft_off { hold-time-ms = <2000>; };

/ {
    // 上下滚动编码器行为

    scroll_vertical_encoder: scroll_vertical_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;

        tap-ms = <100>;
    };

    // 左右滚动编码器行为

    scroll_horizontal_encoder: scroll_horizontal_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_LEFT>, <&msc SCRL_RIGHT>;

        tap-ms = <100>;
    };

    CapL_L: CapL_L {
        compatible = "zmk,behavior-tap-dance";
        label = "CAPL_L";
        #binding-cells = <0>;
        bindings = <&kp LEFT_SHIFT>, <&kp LEFT_SHIFT>;
    };

    Del: Del {
        compatible = "zmk,behavior-mod-morph";
        label = "DEL";
        bindings = <&kp BACKSPACE>, <&kp DELETE>;

        #binding-cells = <0>;
        mods = <(MOD_LSFT)>;
    };

    behaviors {
    };

    combos {
        compatible = "zmk,combos";

        shf_cap {
            bindings = <&kp CLCK>;
            key-positions = <36 47>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        QWERTY {
            bindings = <
&kp ESC           &kp N1        &kp N2        &kp N3     &kp N4     &kp N5            &kp N6             &kp N7   &kp N8     &kp N9     &kp N0     &kp BACKSPACE
&kp TAB           &kp Q         &kp W         &kp E      &kp R      &kp T             &kp Y              &kp U    &kp I      &kp O      &kp P      &kp BSLH
&mkp MCLK         &kp A         &kp S         &kp D      &kp F      &kp G             &kp H              &kp J    &kp K      &kp L      &kp SEMI   &kp ENTER
&kp LEFT_SHIFT    &kp Z         &kp X         &kp C      &kp V      &kp B             &kp N              &kp M    &kp COMMA  &kp DOT    &kp SLASH  &kp RIGHT_SHIFT
&kp LEFT_CONTROL  &kp LEFT_WIN  &kp LEFT_ALT  &mkp LCLK  &mkp RCLK  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp SQT  &kp SPACE  &kp MINUS  &kp EQUAL  &mo 1
            >;

            sensor-bindings =
                <&scroll_vertical_encoder>,
                <&inc_dec_kp RIGHT_ARROW LEFT_ARROW>;
        };

        F_layers {
            bindings = <
&kp GRAVE     &kp F1        &kp F2        &kp F3        &kp F4         &kp F5        &kp F6     &kp F7     &kp F8  &kp F9  &kp F10  &kp F11
&out OUT_USB  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3   &bt BT_SEL 4  &none      &none      &none   &none   &none    &none
&none         &none         &none         &none         &none          &none         &mkp LCLK  &mkp RCLK  &none   &none   &none    &none
&none         &none         &none         &none         &none          &none         &none      &none      &none   &none   &none    &none
&none         &none         &out OUT_BLE  &kp PAGE_UP   &kp PAGE_DOWN  &none         &mkp LCLK  &mkp RCLK  &none   &none   &none    &none
            >;

            sensor-bindings =
                <&inc_dec_kp UP_ARROW DOWN_ARROW>,
                <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        BT_layers {
            bindings = <
&out OUT_BLE  &bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none       &none  &none  &none  &none  &kp W
&out OUT_USB  &none           &none         &none         &none         &none         &none       &none  &none  &none  &none  &none
&none         &bt BT_CLR_ALL  &none         &none         &none         &none         &none       &none  &none  &none  &none  &none
&none         &none           &none         &bt BT_CLR    &none         &none         &bt BT_NXT  &none  &none  &none  &none  &none
&none         &none           &none         &none         &none         &none         &none       &none  &none  &none  &none  &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
    };
};
